// Fonts
$font: 'Montserrat' sans-serif;
$colorless-font: #575756;
$color-font: #FF605C;

// Links
$link-color:
$hover-link-color:
$visited-link-color:
$active-link-color:

//Buttons
$color-button:
$text-color-button:
$colorless-button:
$text-colorless-button:

// Shadows
$text-shadow:
$box-shadow:

// Gradients
$gradient-x: #90a1a9;
$gradient-y: #d2dbe4;
$gradient-z: #d2dbe4;

// Blur
$blur: blur(5px);

// Opacity
$opacity: 0.5;

// Borders
$borders: 2px;
$border-style: solid;
$border-color: #575756;
$border-radius: 50px;


